{% extends 'app/base.html' %}
{% load static %}
   <!-- all posts created by any user are shown here -->

{% block content %}
        <h3 class=" font my-5" style="color:orangered;">
            Posts
        </h3>

        <!-- this is to print any message that is passed in this template from view function post-->
        <div class="row justify-content-center">
            <div class="col-6 text-center mb-2 ">
            {% if messages %}
               {% for message in messages %}
               <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                     <strong>{{message}}.</strong>
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
               {% endfor %}
            {% endif %}
            </div>
        </div>
      
           

                         <!-- showing all posts by using for loop -->
       
       
        <div class="jumbotron jumbotron-fluid jumbo-class  p-3 mb-3">
            <div class="container">
                <div class="postrow row  justify-content-evenly d-flex p-4">
                    {% for pt in post %}

                    <div class="col-auto mt-5">
                        <div class="card" style="width: 18rem;">
                            <!-- image of post -->
                            <img src="{{pt.image.url}}" class="card-img-top img-fluid" style="width:18rem; height:12rem;" alt="...">
                            <div class="card-body">
                                <!-- title of post -->
                              <h5 class="card-title">{{pt.title}}</h5>
                              <!-- publication date of post -->
                              <p class="card-text postname lh-1">{{pt.publicationdate|date:"D, M j"}}</p>

                              <a href="{% url 'postdetails' pt.id %}" class="btn btn-primary">Read More..</a>
                            </div>
                        </div>
                       
                          
                    </div>    
                     {% endfor %}
                </div>
            </div>
        </div><br>
       
       

    
  
        {% endblock content %}